.card {
  background-color: var(--background-secondary) !important;
  box-shadow: 0px 0px 5px #101010 !important;
  padding: 8px 10px 10px 20px;
}
.helpIcon {
  font-size: 15px !important;
  color: var(--text-color-gray);
}

.content {
  color: white;
  font-weight: bold !important;
}

.label {
  color: var(--text-color-gray);
  font-size: 12px !important;
  font-weight: 600 !important;
}

.improvement {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
