.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: calc(100vw - 40px);
}

.navBar {
  background-color: var(--background-secondary);
  height: 100%;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 5px #101010;
}

.navItem {
  text-align: center;
  padding: 5px;
  color: var(--text-color-gray);
}

.activeNavItem {
  color: white;
}
